{% extends "base.html" %}
{%  block content %}


<div class = "container">
      
<h4> add Recipe Item</h4>
<form action="/add_recipeitem" method="post">
    <div class ="row">
        <div class = "col-xs-6 ">
          <div class = "form-group">
              <label for = "name"> Recipe Name</label>
              <input type="text" name = "name" id="recipe_name" class="form-control input-sm" placeholder="Recipe Name" />
              <input type="hidden" name = "category" id="category" value= "{{ category }}" class="form-control input-sm" placeholder="Recipe Name" />
          </div>
        </div>
    </div>


    <div class ="row">
        <div class = "col-xs-6 ">
          <div class = "form-group">
              <label for = "description"> Description</label>
              <textarea class = "form-control" rows ="4" name = "description" id="decription"></textarea>
          </div>
        </div>
    </div>

    <div clas = "row">
        <div class = "col-sm-6">
            <div class = "form-group">
                <button class="btn btn-primary  "  name="submit">Submit</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}