<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<link href="static/css/bootstrap.min.css" rel="stylesheet">
	</head>
<body>
<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
						<a class="navbar-brand" href='/recipecategorylist'>My Recipe</a>
				</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
					  		<li class="active"><a href='/recipecategorylist'>Home</a></li>
					  		<li class="dropdown">
					   		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recipelist<span class="caret"></span></a>
					   	<ul class="dropdown-menu">
					     	
					     	<li><a href='/recipecategorylist'>Recipe List</a></li>



						</ul>
					     </li>
					    </ul>
					     <ul class="nav navbar-nav navbar-right">

					       <!-- <li><a href="#">Profile</a></li> -->
					       <li><a href="/logout">Logout</a></li>
					     </ul>
      	    		</div>
			</div>
	</nav>
			{%  block content %}{% endblock %}

<script type="text/javascript"></script>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>

</body>
</html>