{% extends "base.html" %}
{%  block content %}
<div class="container">
<h2>Recipe Category: {{category.name}}</h2>
 <p>{{category.description}}</p>
 <div class ="row">

        <a href = '/add_recipeitem?id={{category.id}}' class = "btn btn-primary btn-sm pull-right"><i class = "glyphicon glyphicon-plus"></i>Add Recipe Item</a>
    </div>
    <table class = "table">
      <thead>
        <tr>
         <th>#</th>
         <th>Recipe Item Name</th>
         <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for item in category_list_itemss %}
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
          <td>{{category.name}}</td>

                <td>
<a href ='/delete_recipeitem?id={{item.id}}&category={{category.id}}' class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i> Delete</a>
</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

