{% extends "base.html" %}
{% block content %}
    <div class = "container">
        <h3>Categories</h3>

    <div class = "row">
        <a href = '/add_recipecategory' class="btn btn-primary btn-sm pull-right"><i class="glyphicon glyphicon-plus"></i>Add Recipe Category</a>
    </div>
    <table class = "table" >
        <thead>
            <tr>
                <th>#</th>
                <th> Recipe Name</th>
                <th>Description</th>
                <th>View</th>
                <th>Edit</th>
            </tr>
        <thead>
        <tbody>
        {% for item in recipe_categories %}
          <tr>
              <th scope="row">{{item.id}}</th>
              <td>{{item.name}}</td>
              <td>{{item.description}}</td>
             
    </tr>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
